{% extends 'base.html' %}
{%block content%}
    <section>
      <div class="content">
            <div class="content-title">
                <h1 class="bigg-boss">Bigg Boss Tamil season 9</h1>
            </div>
            <div>
                <div class="member-details">
                    <img class="member-img" src="{{about_img}}" alt="vijay sethupathy">
                    <div class="bio-2">
                        <h1>{{about_title}}</h1>
                        <h4></h4>
                        <p class="bio-details"> <span> {{about_content}}</span></p>
                    </div>
                </div>
            </div>
      </div>
    </section>
{%endblock%}