<footer>
    <div class="footer-section">
        <h1>Today Trending</h1>
        <div class="footer-about">
            <h1>About us</h1>
            <p class="footer-p">No.1 Tamil Cinema News Website. Get all Latest Kollywood Cinema News Updates Regularly on TamilGlitz.</p>
            <p>Contact us: <a href="" class="read-more">contact@tamilglitz.in</a></p>
        </div>
        <div>
            <h1>Follow Us</h1>
            <p class="footer-us">Facebook</p>
            <p class="footer-us">Twitter</p>
            <p class="footer-us">Youtube</p>
            <p class="footer-us">Instagram</p>
        </div>
    </div>
</footer>