
<header class="header-section">
    
    <nav class="nav-section">
        <h1 class="title">TODAY TRENDING</h1>
        <ul class="title-list">
            <li class="list">
                <a href="/" class="list-link">Home</a>
            </li>
            <li class="list">
                <a href="/about" class="list-link">About US</a>
            </li>      
            <li class="list">
                <a href="/contact" class="list-link">Contact</a>
            </li>
            <li class="list">
                <a href="/newpost" class="list-link">New post</a>
            </li>
        </ul>      
    </nav>
</header>